# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches & Environments
.venv/
venv/
ENV/
env/

# Minecraft Server Runtime Data & Backups
data/
data/minecraft/
data/backups/
*.jar
*.log
*.mrpack

# OS / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
